@model Project_v3.Models.CreateFilm

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Films</h4>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group input-group">
                <label asp-for="FilmName" ></label>
                <input asp-for="FilmName" class="form-control" />
                <span asp-validation-for="FilmName" class="text-danger"></span>
            </div>
            <div class="form-group input-group">
                <label asp-for="FilmDescription" ></label>
                <input asp-for="FilmDescription" class="form-control" />
                <span asp-validation-for="FilmDescription" class="text-danger"></span>
            </div>
            <div class="form-group input-group">
                <label asp-for="FilmType" ></label>
                <input asp-for="FilmType" class="form-control" />
                <span asp-validation-for="FilmType" class="text-danger"></span>
            </div>
            <div class="form-group input-group">
                <label asp-for="selectedDirector"></label>
                <select class="form-control" asp-for="selectedDirector" asp-items="@(new SelectList(Model.FullNames))"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Dodaj</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>