@model Project_v3.Models.Films

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Films</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="FilmName" class="control-label"></label>
                <input asp-for="FilmName" class="form-control" />
                <span asp-validation-for="FilmName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmDescription" class="control-label"></label>
                <input asp-for="FilmDescription" class="form-control" />
                <span asp-validation-for="FilmDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmType" class="control-label"></label>
                <input asp-for="FilmType" class="form-control" />
                <span asp-validation-for="FilmType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmCount" class="control-label"></label>
                <input asp-for="FilmCount" class="form-control" />
                <span asp-validation-for="FilmCount" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
