@model Project_v3.Models.LoginModel
@{
}
<form method="post">
    <Div class="form-group input-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control"/>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </Div>
    <Div class="form-group input-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </Div>
    
    <button type="submit" class="btn-success">Zaloguj</button>
</form>